name: Python application

on:
  push:
    branches:
      - "**"
      - "!main"
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        version: [1]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir -r requirements-dev.txt

      - name: Set up system packages (if needed)
        uses: nill2/gha/install-packages@main

      - name: Lint with flake8 and pylint
        uses: nill2/gha/lint@main

      - name: Run unit tests with pytest
        env:
          IS_TEST: "GHA"
        run: |
          pytest -v --maxfail=1 --disable-warnings
